@font-face {
    src: url("../fonts/Monserrat/Montserrat-Italic.ttf");
    src: url("../fonts/Monserrat/Montserrat-Light.ttf");
    src: url("../fonts/Monserrat/Montserrat-LightItalic.ttf");
    src: url("../fonts/Monserrat/Montserrat-Medium.ttf");
    src: url("../fonts/Monserrat/Montserrat-MediumItalic.ttf");
    src: url("../fonts/Monserrat/Montserrat-Regular.ttf");
    src: url("../fonts/Monserrat/Montserrat-SemiBold.ttf");
    src: url("../fonts/Monserrat/Montserrat-SemiBoldItalic.ttf");
    font-family: Montserrat;
}

@font-face {
    src: url("../fonts/Poppins/Poppins-ExtraLight.ttf");
    src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf");
    src: url("../fonts/Poppins/Poppins-Italic.ttf");
    src: url("../fonts/Poppins/Poppins-Light.ttf");
    src: url("../fonts/Poppins/Poppins-LightItalic.ttf");
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    src: url("../fonts/Poppins/Poppins-MediumItalic.ttf");
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
    font-family: Poppins;
}

/* General */

h2 {
    font-family: Montserrat;
    font-size: 44pt;
    font-weight: 800;
}

h3 {
    font-family: Poppins;
    font-size: 34pt;
    font-weight: bolder;
}

h4 {
    font-family: Poppins;
    font-size: 24pt;
    font-weight: 800;
}

h5 {
    font-family: Poppins;
    font-size: 20pt;
    font-weight: 800;
}

p {
    font-family: Poppins;
    font-size: 12pt;
}

li {
    font-family: Poppins;
    font-size: 12pt;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/* Home Page */

.name-div {
  margin-left: 50px;
}

.name {
    font-size: 70pt;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 430px;
}

.intro {
    font-size: 22pt;
    font-family: Poppins;
    font-weight: 200;
    max-width: 70%;
    margin-top: 10px;
}

/* Projects */

.projects-title {                           /* title of the projects in home page*/
    font-family: Poppins;
    font-size: 48pt;
    font-weight: 700;
    margin-top: 150px;
    margin-left: 50px;
}

.back-icon {
    width: 35px;
    margin-top: 20px;
    margin-left: 15px;
    position: sticky;
    top: 20px;
}

.project-title-div {
    margin-left: 50px;
    height: calc(100vh - 20px);
    display: flex
}

.project-title  {                            /* title of the projects in project page*/
    align-self: flex-end;
    font-size: 54pt;
}

/* Project One */
.project-one, .project-two, .project-three, .project-four {
    margin-left: 50px;
    margin-bottom: 120px;
    width: 500px;
    transition: opacity .8s ease-in-out;
}

.project-one:hover, .project-two:hover,  .project-three:hover, .project-four:hover{
    opacity: 0.5;
    transition: 0.4s;
    transition: opacity .55s ease-in-out;
}

.image-project-one {
    width: 600px;
}

.image-project-three {
    width: 650px;
}

.image-project-four {
    width: 650px;
}

.title-project-one {
    font-family: Montserrat;
    font-size: 18pt;
    margin-left: 50px;
    margin-top: -20px;
}

.title-project-three {
    font-family: Montserrat;
    font-size: 18pt;
    margin-left: 50px;
    margin-top: 40px;
}

.taks {
    width: 70%;
    margin-left: 50px;
}

.content {
    width: 70%;
    margin-left: 50px;
    margin-top: 50px;
}

.process {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
}

.process-item {
    font-family: Montserrat;
    font-size: 14pt;
    margin-right: 40px;
    padding: 5px;
    font-weight: 800;
    background-color: rgb(226, 226, 241);
    margin-top: 18px;
}

.process-item-office {
    background-color:hsla(225, 89%, 31%, 0.479);
}

.po-image-one {
    width: 100%;
    margin-top: 50px;
}

.po-image-two {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.po-image-three {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.po-subtitle {
    margin-bottom: 0;
}

.po-text {
    margin-top: 5px;
}



/* Personal info — resume, email and LinkedIn */
.info {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
}

.resume, .email, .linkedin{
    font-family: Montserrat;
}

.resume:hover, .email:hover, .linkedin:hover{
    text-decoration: underline;
}